#div1{
  width: 500px;
  height: 300px;
  margin-top: 100px;
  margin-left: 150px;
  border-left: 1px solid #555555;
  border-bottom: 1px solid #555555;
  background: #FFFFFF;
}

.div2{
  position: absolute;
  width: 0px;
  height: 0px;
  margin-left: 0px;
  top: 0px;
  background: #008000;
  text-align: center;
  color: #FFFFFF;
  line-height: 0px;
}

#div3{
  width: 500px;
  height: 200px;
  margin-top: 0px;
  margin-left: 150px;
  background: #FFFFFF;
}

.div4{
  position: absolute;
  width: 200px;
  height: 0px;
  margin-top: 210px;
  margin-left: 0px;
  background: #FFFFFF;
  text-align: right;
  line-height: 0px;
  transform: rotate(270deg);
  transform-origin: left top 0;
}

#div5{
  top: 0;
  position: absolute;
  width: 100px;
  height: 300px;
  margin-top: 100px;
  margin-left: 50px;
  background: #FFFFFF;
}

.div6{
  bottom: 0;
  position: absolute;
  width: 100px;
  height: 20px;
  margin-top: 0px;
  margin-left: 0px;
  background: #FFFFFF;
  text-align: right;
  margin-bottom: 0px;
}

#div7{
  top: 0;
  position: absolute;
  width: 0px;
  height: 100px;
  margin-top: 0px;
  margin-left: 150px;
  background: #FFFFFF;
  text-align: center;
  color: #000000;
  font-size: 14pt;
  font-weight: bold;
  line-height: 100px;
}
