#div1{
  width: 500px;
  height: 300px;
  margin-top: 50px;
  margin-left: 50px;
  border-left: 1px solid #555555;
  border-bottom: 1px solid #555555;
  background: #FFFFFF;
}


.div2{
  position: absolute;
  width: 0px;
  height: 0px;
  margin-left: 0px;
  top: 0px;
  background: #006600;
}
